@font-face {
    font-family: Inter;
    src: url(./assets/fonts/InterVariable.woff2);
}

@font-face {
    font-family: Inter;
    src: url(./assets/fonts/InterVariable-Italic.woff2);
    font-style: italic;
}

:root {
    --font-stack:
        system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    --fs-sm: clamp(0.8rem, 0.15vi + 0.77rem, 0.89rem);
    --fs-base: clamp(1rem, 0.31vi + 0.94rem, 1.19rem);
    --fs-md: clamp(1.25rem, 0.55vi + 1.14rem, 1.58rem);
    --fs-lg: clamp(1.56rem, 0.91vi + 1.38rem, 2.11rem);
    --fs-xl: clamp(1.95rem, 1.43vi + 1.67rem, 2.81rem);
    --fs-xxl: clamp(2.44rem, 2.18vi + 2.01rem, 3.75rem);
    --fs-xxxl: clamp(3.05rem, 3.24vi + 2.4rem, 5rem);

    --text-main: #222c35;
    --text-alt: #eff5f9;
    --background-color: #f3f9fd;
    --primary-color: #0052a6;
    --secondary-color: #215583;
    --accent-color: #a52000;

    --visited-link: #5c3880;

    --primary-low-opacity: rgba(0, 82, 166, 0.35);

    --glass-text1: #0f161a;
    --glass-background1: rgba(0,82,166,0.6);
    --glass-border1: 1px solid rgba(0,82,166,0.3);

    --button-shadow1: #006eed;
}

:root:has(body.dark-mode) {
    --text-main: #eff5f9;
    --text-alt: #222c35;
    --background-color: #101820;
    --primary-color: #58a9f7;
    --secondary-color: #78aad3;
    --accent-color: #8e1c00;

    --primary-low-opacity: rgba(88, 169, 247, 0.35);

    --glass-text1: #eff5f9;
    --glass-background1: rgba(88,169,247,0.35);
    --glass-border1: 1px solid rgba(88,169,247,0.175);

    --button-shadow1: #81bef7;
}

body {
    font-family: Inter, var(--font-stack);
    background-color: var(--background-color);
    color: var(--text-main);
}

#root {
    min-height: 100svh;
    flex-direction: column;
    display: flex;
}
